mat-accordion {
    margin-top: 10px;
}

.connexionForm {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.actionForm {
    display: flex;
    justify-content: space-between;
}

.actionForm > mat-checkbox {
    flex-grow: 1;
    margin: 5px;
}

.formulaires {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 45%;
}

.nom {
    margin-left: 10px;
}

mat-divider {
    margin-bottom: 20px;
}

table {
    width: 100%;
}

img {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

img:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.quantite {
    margin-left: 20px;
    margin-right: 20px;
}

.valider {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

tr.mat-footer-row {
    font-weight: bold;
}