<mat-card class="card">
    <img mat-card-image [routerLink]="'/article/' + article.id" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
        <mat-card-title [routerLink]="'/article/' + article.id">{{article.nom}}</mat-card-title>
        <mat-card-subtitle>{{article.prixUnitaire | number:'1.2'}} € / {{article.uniteMesure}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-button (click)="onAjouterPanier()">
            <mat-icon>shopping_cart</mat-icon> Ajouter au panier
        </button>
        <button mat-button (click)="openDialog()">
            <mat-icon>remove_red_eye</mat-icon> Quick View
        </button>
    </mat-card-actions>
</mat-card>