table {
    width: 100%;
}

img {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

img:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.quantite {
    margin-left: 20px;
    margin-right: 20px;
}

.valider {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

tr.mat-footer-row {
    font-weight: bold;
}