<mat-form-field appearance="outline">
    <mat-select [(value)]="selectedTriProduit">
        <mat-option *ngFor="let tri of triProduits" [value]="tri.value">
            {{tri.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-button-toggle-group #t="matButtonToggleGroup" [value]="tri" (change)="onTriChange(t.value)">
    <mat-button-toggle value="up">
        <mat-icon>arrow_upward</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="down">
        <mat-icon>arrow_downward</mat-icon>
    </mat-button-toggle>
</mat-button-toggle-group>

<mat-form-field appearance="outline">
    <mat-select [(value)]="selectedNombreProduit">
        <mat-option *ngFor="let nb of nbProduits" [value]="nb.value">
            {{nb.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-button-toggle-group #d="matButtonToggleGroup" [value]="display" (change)="onDisplayChange(d.value)">
    <mat-button-toggle value="grid">
        <mat-icon>grid_on</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="list">
        <mat-icon>list</mat-icon>
    </mat-button-toggle>
</mat-button-toggle-group>

<a mat-flat-button color="primary" routerLink="/article/add" *ngIf="utilisateur.role == 'ROLE_ADMIN'">Ajouter un nouveau produit</a>

<div class="boutique" *ngIf="display == 'grid'">
    <app-article-card *ngFor="let a of articles" [article]="a" [urlImage]="getUrlImage(a)" (deleteEvent)="deleteById($event)"></app-article-card>
</div>
<mat-list *ngIf="display == 'list'">
    <app-article-line *ngFor="let a of articles" [article]="a" (deleteEvent)="deleteById($event)"></app-article-line>
</mat-list>