<mat-form-field appearance="outline">
    <mat-label>Tri</mat-label>
    <mat-select [(value)]="pagingAndSorting.sortBy" (selectionChange)="onSelectionChange()">
        <mat-option *ngFor="let tri of triProduits" [value]="tri.value">
            {{tri.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-button-toggle-group #sortOrder="matButtonToggleGroup" [value]="pagingAndSorting.sortOrder" (change)="onOrderChange(sortOrder.value)">
    <mat-button-toggle value="ascending">
        <mat-icon>arrow_upward</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="descending">
        <mat-icon>arrow_downward</mat-icon>
    </mat-button-toggle>
</mat-button-toggle-group>

<mat-form-field appearance="outline">
    <mat-label>Pagination</mat-label>
    <mat-select [(value)]="pagingAndSorting.pageSize" (selectionChange)="onSelectionChange()">
        <mat-option *ngFor="let nb of nbProduits" [value]="nb.value">
            {{nb.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-button-toggle-group #d="matButtonToggleGroup" [value]="display" (change)="onDisplayChange(d.value)">
    <mat-button-toggle value="grid">
        <mat-icon>grid_on</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="list">
        <mat-icon>list</mat-icon>
    </mat-button-toggle>
</mat-button-toggle-group>

<a mat-flat-button color="primary" routerLink="/article/add" *ngIf="utilisateur.role == 'ROLE_ADMIN'">Ajouter un nouveau produit</a>

<div class="boutique" *ngIf="display == 'grid'">
    <app-article-card *ngFor="let a of articles" [article]="a" [urlImage]="getUrlImage(a)" [utilisateur]="utilisateur" (deleteEvent)="deleteById($event)"></app-article-card>
</div>
<mat-list *ngIf="display == 'list'">
    <app-article-line *ngFor="let a of articles" [article]="a" [urlImage]="getUrlImage(a)" [utilisateur]="utilisateur" (deleteEvent)="deleteById($event)"></app-article-line>
</mat-list>

<div class="page">
    <button mat-flat-button (click)="onPreviousPage()" *ngIf="pagingAndSorting.pageNo > 0"><mat-icon>navigate_before</mat-icon> Précédent</button>
    <button mat-flat-button (click)="onNextPage()" *ngIf="articles.length == pagingAndSorting.pageSize">Suivant <mat-icon>navigate_next</mat-icon></button>
</div>