<div class="footer">
    <div>
        <mat-divider></mat-divider>
        <h1>NOUS CONTACTER</h1>
        <mat-divider></mat-divider>
        <h1>Du Sens en Vrac</h1>
        <p>Merci de privilégier le contact par mail : 
            <a href="mailto:contact@du-sens-en-vrac.com">contact@du-sens-en-vrac.com</a>
        </p>
        <p>06.xx.xx.xx.xx</p>
        <a href="https://fr-fr.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/?lang=fr" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a>
        <a href="https://www.pinterest.fr/" target="_blank"><i class="fab fa-pinterest-square fa-3x"></i></a>
        <a href="https://www.instagram.com/?hl=fr" target="_blank"><i class="fab fa-instagram-square fa-3x"></i></a>
    </div>

    <div>
        <mat-divider></mat-divider>
        <h1>LA VRAQUEUESE ENGAGEE</h1>
        <mat-divider></mat-divider>
        <figure>
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <figcaption>Marion, créatrice du Sens en Vrac.</figcaption>
        </figure>
    </div>

    <div>
        <mat-divider></mat-divider>
        <h1>MA BOUTIQUE</h1>
        <mat-divider></mat-divider>
        <ul>
            <li>
                <i class="fas fa-user"></i>
                <a *ngIf="connected == false" routerLink="/connexion">Connexion</a>
                <a *ngIf="connected == true" routerLink="/mon-compte">Mon compte</a>
            </li>
            <li>
                <i class="fas fa-truck-loading"></i>
                <a routerLink="/">Frais de port et Retrait</a>
            </li>
            <li>
                <i class="fas fa-comment-dots"></i>
                <a routerLink="/">FAQ</a>
            </li>
            <li>
                <i class="fas fa-shopping-basket"></i>
                <a routerLink="/">Condition Générales de Vente</a>
            </li>
            <li>
                <i class="fas fa-file"></i>
                <a routerLink="/">Mentions légales</a>
            </li>
            <li>
                <i class="fas fa-envelope"></i>
                <a routerLink="/">Nous contacter</a>
            </li>
            <li>
                <i class="fas fa-truck"></i>
                <a routerLink="/">Nous trouver</a>
            </li>
        </ul>
        <p>
            <i class="far fa-credit-card"></i> Tous les paiements par Carte Bancaire (CB) sont sécurisés SSL (données cryptées).
        </p>
        <i class="fab fa-cc-visa fa-2x"></i>
        <i class="fab fa-cc-mastercard fa-2x"></i>
        <i class="fab fa-cc-amex fa-2x"></i>
    </div>
</div>