<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="fr.spotify_en_mieux_core.models.Achat"></mapping>
        <mapping class="fr.spotify_en_mieux_core.models.Adresse"></mapping>
        <mapping class="fr.spotify_en_mieux_core.models.Article"></mapping>
        <mapping class="fr.spotify_en_mieux_core.models.Categorie"></mapping>
        <mapping class="fr.spotify_en_mieux_core.models.Client"></mapping>
        <mapping class="fr.spotify_en_mieux_core.models.Commande"></mapping>
        <mapping class="fr.spotify_en_mieux_core.models.Facture"></mapping>
        <mapping class="fr.spotify_en_mieux_core.models.LigneAchat"></mapping>
        <mapping class="fr.spotify_en_mieux_core.models.Panier"></mapping>
        <mapping class="fr.spotify_en_mieux_core.models.Personne"></mapping>
        <mapping class="fr.spotify_en_mieux_core.models.ProducteurFournisseur"></mapping>
        <mapping class="fr.spotify_en_mieux_core.models.UniteMesure"></mapping>
    </session-factory>
</hibernate-configuration>